.footer{
    position: absolute ;
    bottom: 0px;
    max-width: 800px;
    margin-bottom: 10px;
}

.fa-github {
    margin-right: 10px;
}

#profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#slack {
    display: none;
}

em {
    color: red;
}
